@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/Roboto-Thin.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f1f1f1;
  /*  background: #0f2027; */
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}